APP_NAME="Sistem Pusat Mahera Media"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://kampusmedia.cloud

APP_LOCALE=id
APP_FALLBACK_LOCALE=id
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_LEVEL=warning

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=spmm
DB_USERNAME=spmm_user
DB_PASSWORD=ganti_password_database_yang_kuat

QUEUE_CONNECTION=database
CACHE_STORE=database
SESSION_DRIVER=database
SESSION_LIFETIME=120
FILESYSTEM_DISK=public

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=info@maheramedia.com
MAIL_PASSWORD=ganti_dengan_app_password_email
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@maheramedia.com
MAIL_FROM_NAME="Kampus Media"

PAYMENT_PROVIDER=mock
PAYMENT_INVOICE_EXPIRY_HOURS=24

WHATSAPP_PROVIDER=log
WHATSAPP_DEFAULT_COUNTRY_CODE=62

SANCTUM_STATEFUL_DOMAINS=kampusmedia.cloud,www.kampusmedia.cloud,spmm.maheramedia.com

SUPER_ADMIN_NAME="Super Admin"
SUPER_ADMIN_EMAIL=admin@maheramedia.com
SUPER_ADMIN_PHONE=6280000000000
SUPER_ADMIN_PASSWORD=ganti_password_admin_yang_kuat
