/vendor
/node_modules
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/composer.phar
/database/*.sqlite
/database/*.sqlite-*
/public/storage
/storage/*.key
/storage/app/public/*
/storage/app/private
/storage/framework/cache/*
/storage/framework/cache/data
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*.log
!/storage/app/.gitkeep
!/storage/app/public/.gitkeep
!/storage/framework/cache/.gitkeep
!/storage/framework/sessions/.gitkeep
!/storage/framework/views/.gitkeep
!/storage/logs/.gitkeep
